app-side-navbar{
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: 0;
    height: 100vh;
    border-right:1px solid  orange;
}
article{
    margin-left: 25%;
    display: flex;
    flex-direction: column;
}
.post{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid orange;
}
.content{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}
.calificacion{
    margin-left: auto;
}
.nombre a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline;
    }   
}
.tituloJuego{
    text-align: center;
}
.tituloJuego a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline;
    }   
}
.infoJuego{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.username{
    width: fit-content;
}
.imagenJuego img{
    width: 100%;
    margin: auto;
}
.imagenJuego{
    width: 50%;
    justify-content: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}
.imagenJuego:hover {
    transform: scale(1.05);
    filter: brightness(60%);
}
.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0 , 0 , 0 , 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.imagenJuego:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}
.texto-overlay {
    color: white;
    font-weight: bold;
    font-size: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
.infoPost{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.datosPost img{
    width: 100%;
}
.datosPost{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
}
.imagenes{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: auto;
}
.imagenes img{
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}
.imagenes-1{
    grid-template-columns: 1fr;
}
.imagenes-2{
    grid-template-columns: repeat(2 , 1fr);
}
.imagenes-3{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.imagenes-3 img:nth-child(3) {
    grid-column: span 2; /* La tercera imagen ocupa dos columnas */
}
.imagenes-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal-body img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain; /* Evita deformaciones */
}
.options i{
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.281) 1px solid;
}
.options div:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(255, 166, 0);
    i{
        background-color: rgba(255, 166, 0, 0.164);
        transition: 0.5s;
    }
}
.options div{
    align-items: center;
    gap:2px
}
.options div p{
    font-size: 17px;
    margin :0
    
}
ul i{
    background-color: transparent !important;
}
.dropdown-menu li:hover{
    background-color: rgba(255, 166, 0, 0.068) ;
}
.comentario{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid orange;
}
.comentarioOptions{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.comentarioOptions button{
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    &:hover{
        background-color: rgba(255, 166, 0, 0.164);
        transition: 0.5s;
        i{
            color: orange;
            transition: 0.5s;
        }
    }
}
.fotoPerfil img{
    width: 50px;
    height: 50px;
}
.infoUsuario {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.options button{
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    &:hover{
        background-color: rgba(255, 166, 0, 0.164);
        transition: 0.5s;
        i{
            color: orange;
            transition: 0.5s;
        }
    }
}
.dropdown-menu li{
    cursor: pointer;
    
}
.contenido{
    padding-left: 60px;
}
.comentarios{
    display: flex;
    flex-direction: column-reverse;
}
.tituloPost{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
    margin-top: 10px;
}
.tituloPost button{
    background-color: transparent;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    &:hover{
        transition: 0.5s;
        background-color: rgba(255, 166, 0, 0.349);
    }
}
.tituloPost i{
    width: 40px;
    height: 40px;
}
@media(max-width: 1124px) {
    main{
        padding-bottom: 50px;
    }
    app-side-navbar{
        width: 0px;
        border: 0px;
    }
    article{
        margin-left: 0;
    }
}