<main>
    <div class="toast-container position-fixed bottom-0 end-0 p-3 ">
        <div id="liveToast" class="toast " role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto"><i class=" text-{{stateToast}} bi bi-{{iconToast}}-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;GAMEHUB</strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-{{stateToast}}">
            {{mensajeToast}}
          </div>
        </div>
    </div>
    <app-side-navbar></app-side-navbar>
    <article>
        <div class="tituloPost">
            <button (click)="volverAtras()">    
                <i class="bi bi-arrow-left"></i>
            </button>
            <h4 class="m-0">Post</h4>
        </div>
        <div class="post">
            <div *ngIf="datosPost" class="content">
                <div class="infoPost">
                    <div class="infoUsuario">
                        <div class="fotoPerfil">
                            <img src="http://192.168.1.151/uploads/fotosPerfil/{{datosPost.USUARIO?.IMAGEN}}" alt="" class="rounded-circle">
                        </div>
                        <div class="nombre">
                            <a [routerLink]="['/' , datosPost.USUARIO?.NOMBRE_USUARIO]" class="fw-bold">{{datosPost.USUARIO?.NOMBRE}}</a>
                        </div>
                        <div class="username">
                            <p class="text-secondary m-0">&nbsp;&nbsp;&nbsp;&commat;{{datosPost.USUARIO?.NOMBRE_USUARIO}}</p>
                        </div>
                        <div class="fechaPublicacion">
                            <p class="text-secondary m-0">·  {{formatearFecha(datosPost.fecha_publicacion)}}</p>
                        </div>
                        <div class="calificacion">
                            <h4 [ngClass]="{
                                'bg-danger':  datosPost.calificacion >= 0 && datosPost.calificacion < 5,
                                'bg-warning': datosPost.calificacion  >= 5 && datosPost.calificacion < 8,
                                'bg-success': datosPost.calificacion  >= 8
                            }" class="m-0 p-2 ps-3 pe-3 rounded">{{datosPost.calificacion}}</h4>
                        </div>
                    </div>
                    <div class="datosPost">
                        <div *ngIf="datosPost.DESCRIPCION" class="descripcion">
                            <p>{{datosPost.DESCRIPCION}}</p>
                        </div>
                        <div *ngIf="esArray(datosPost.imagen)" class="imagenes py-3" [ngClass]="'imagenes-'+ datosPost.imagen.length">
                            <img *ngFor="let imagen of datosPost?.imagen"  src="http://192.168.1.151/uploads/fotosPost/{{imagen}}" alt="" (click)="clickImagen(imagen)">
                        </div>
                    </div>
                </div>
                <div class="infoJuego">
                    <div class="imagenJuego rounded" (click)="verJuego($event , datosPost.id_juego)">
                        <img src="http://192.168.1.151/uploads/fotosJuegos/{{datosPost.JUEGO?.portada}}" class="rounded"  >
                        <div class="overlay">
                            <div class="texto-overlay">
                                <i class="bi bi-eye"></i> VER JUEGO
                            </div>
                        </div>
                    </div>
                    <div class="tituloJuego">
                        <a [routerLink]="['/juegos' , datosPost.id_juego]" class="text-center fw-bold">{{datosPost.JUEGO?.nombre_juego}}</a>
                    </div>
                </div>
            </div>
            <div class="options mb-1 mt-4">
                <div class="comentar d-flex flex-row" (click)="clickComentar(datosPost)">
                    <i class="bi bi-chat" ></i>
                    <p>{{datosPost.COMENTARIOS?.N_COMENTARIOS}}</p>
                </div>
                <div class="like d-flex flex-row" (click)="cambiarLike(datosPost)">
                    <i [ngClass]="datosPost.LIKES?.LIKE_USUARIO ? 'bi bi-heart-fill text-warning' : 'bi bi-heart'" class=""></i>
                    <p>{{datosPost.LIKES?.N_LIKES}}</p>
                </div>
                <div class="dropdown moreOptions d-flex flex-row">
                    <i class="bi bi-three-dots" data-bs-toggle="dropdown" aria-expanded="true"></i>
                    <ul class="dropdown-menu text-danger">
                        <li (click)="clickEliminar(datosPost)" *ngIf="datosPost.MISMO_USUARIO"><i class="bi bi-trash"></i>Eliminar</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="comentarios">
            <div class="comentario" *ngFor="let comentario of arrayComentarios">
                <div class="infoUsuario">
                    <div class="fotoPerfil">
                        <img src="http://192.168.1.151/uploads/fotosPerfil/{{comentario.USUARIO?.IMAGEN}}" alt="" class="rounded-circle">
                    </div>
                    <div class="nombre">
                        <a [routerLink]="['/' , comentario.USUARIO?.NOMBRE_USUARIO]" class="fw-bold">{{comentario.USUARIO?.NOMBRE}}</a>
                    </div>
                    <div class="username">
                        <p class="text-secondary m-0">&nbsp;&nbsp;&nbsp;&commat;{{comentario.USUARIO?.NOMBRE_USUARIO}}</p>
                    </div>
                    <div class="fechaPublicacion">
                        <p class="text-secondary m-0">·  {{formatearFecha(comentario.FECHA_COMENTARIO)}}</p>
                    </div>
                    <div class="dropdown comentarioOptions">
                        <button type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item text-danger" (click)="eliminarComentario(comentario.ID_COMENTARIO)"*ngIf="comentario.MISMO_USUARIO"><i class="bi bi-trash"></i>Eliminar</li>
                        </ul>
                    </div>
                </div>
                <div class="infoPost">
                    <div class="contenido">
                        <p>{{comentario.CONTENIDO}}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="modal fade modal-dark" id="comentarioModal" tabindex="-1" aria-labelledby="comentarioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="comentarioModalLabel">Añadir Comentario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" (click)="$event.stopPropagation()"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control border-0 p-1" id="comentarioTextarea" rows="3" placeholder="Escribe un comentario..." [(ngModel)]="comentario"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="subirComentario()">Postear</button>
            </div>
          </div>
        </div>
    </div>
</main>
