<nav class="sidebar">
    <div class="imagen">
        <div class="imagenGamehub">
            <img src="fotosGamehub/portada_gamehub.png" class="rounded-circle" alt="">
        </div>
    </div>
    <div class="inicio ">
        <p class="rounded-pill"> <i class="bi bi-house"></i>    Inicio</p>
    </div>
    <div class="perfil">
        <p class="rounded-pill"><i class="bi bi-person"></i>    Perfil</p>
    </div>
    <div class="buscarJuegos">
        <p class="rounded-pill"><i class="bi bi-controller"></i>    Buscar Juegos</p>
    </div>
    <div class="buscarUsuarios">
        <p class="rounded-pill"><i class="bi bi-search"></i>    Buscar Usuarios</p>
    </div>
    <div class="opciones">
        <p class="rounded-pill"><i class="bi bi-gear"></i>    Configuracion</p>
    </div>
    <div class="postear">
        <p class="rounded-pill"><i class="bi bi-plus"></i>Postear</p>
    </div>
</nav>
  
