<div class="home">
    <app-side-navbar></app-side-navbar>
    <div class="toast-container position-fixed bottom-0 end-0 p-3 ">
        <div id="liveToast" class="toast " role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto"><i class=" text-{{stateToast}} bi bi-{{iconToast}}-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;GAMEHUB</strong>
                <small></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-{{stateToast}}">
                {{mensajeToast}}
            </div>
        </div>
    </div>   
    <main>
        <header>
            <div class="parati" (click)="cambiarVista('parati')" >
                <p [ngClass]="{'seleccionado': vistaParati == true}">Para ti</p>
            </div>
            <div class="siguiendo" (click)="cambiarVista('siguiendo')">
                <p [ngClass]="{'seleccionado': vistaSiguiendo == true}">Siguiendo</p>
            </div>
        </header>
        <article>
            <app-loading *ngIf="cargando"></app-loading>
            <div class="post p-3" *ngFor="let post of postCargados" (click)="clickPost(post.ID_PUBLICACION)">
                <div class="infoPost">
                    <div class="infoUsuarioPost">
                        <div class="infoUsuario">
                            <div class="imagenUsuario">
                                <img src="https://api.game-hub.me/uploads/fotosPerfil/{{post.INFO_USUARIO?.IMAGEN}}" alt="" class="rounded-circle">
                            </div>
                            <div class="nombre">
                                <a [routerLink]="['/' , post.INFO_USUARIO?.NOMBRE_USUARIO]" class="fw-bold w-100 text-body">{{post.INFO_USUARIO?.NOMBRE}}</a>
                            </div>
                            <div class="username">
                                <p class="text-secondary">&commat;{{post.INFO_USUARIO?.NOMBRE_USUARIO}}</p>
                            </div>
                            <div class="fechaPublicacion">
                                <p class="text-secondary">·  {{formatearFecha(post.FECHA_PUBLICACION)}}</p>
                            </div>

                        </div>
                        <div class="contenidoPost">
                            <div class="descripcionPost">
                                <p>{{post.DESCRIPCION}}</p>
                            </div>
                            <div class="notaJuego">
                                <h4 class="m-0 p-2 ps-3 pe-3 rounded" [ngClass]="{
                                    'bg-danger':  post.CALIFICACION >= 0 && post.CALIFICACION < 5,
                                    'bg-warning': post.CALIFICACION  >= 5 && post.CALIFICACION < 8,
                                    'bg-success': post.CALIFICACION  >= 8
                                }">{{post.CALIFICACION}}</h4>
                            </div>
                            <div class="infoJuego" >
                                <div class="imagenJuego rounded" (click)="verJuego($event , post.ID_JUEGO)">
                                    <img  src="https://api.game-hub.me/uploads/fotosJuegos/{{post.INFO_JUEGO?.PORTADA}}" alt="Foto del juego" class="rounded">
                                    <div class="overlay">
                                        <div class="texto-overlay">
                                            <i class="bi bi-eye"></i> VER JUEGO
                                        </div>
                                    </div>
                                </div>
                                <div class="nombreJuego text-center">
                                    <a [routerLink]="['/juegos' , post.ID_JUEGO]" class="fw-bold text-body ">{{post.INFO_JUEGO?.NOMBRE_JUEGO}}</a>
                                </div>
                            </div>

                        </div>
                        <div class="imagenes">
                            <div *ngIf="esArray(post.IMAGEN)" class="imagenes px-5 pb-3" [ngClass]="'imagenes-'+ post.IMAGEN.length">
                                <img  *ngFor="let imagen of post?.IMAGEN"  src="https://api.game-hub.me/uploads/fotosPost/{{imagen}}" alt="" (click)="clickImagen(imagen) ; $event.stopPropagation()">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="opcionesPost">
                    <div class="comentar d-flex flex-row" (click)="clickComentar(post) ; $event.stopPropagation()">
                        <button>
                            <i class="bi bi-chat" ></i>
                        </button>
                        <p>{{post.COMENTARIOS?.N_COMENTARIOS}}</p>
                    </div>
                    <div class="like d-flex flex-row"(click)="cambiarLike(post) ; $event.stopPropagation()">
                        <button>
                            <i [ngClass]="post.LIKES?.LIKE_USUARIO ? 'bi bi-heart-fill text-warning' : 'bi bi-heart'"></i>
                        </button>
                        <p class="mb-0">{{post.LIKES?.N_LIKES}}</p>
                    </div>
                    <div class="dropdown moreOptions d-flex flex-row" (click)="$event.stopPropagation()" *ngIf="post.mismoUsuario">
                        <button data-bs-toggle="dropdown" aria-expanded="true">
                            <i class="bi bi-three-dots mt-1" ></i>
                        </button>
                        <ul class="dropdown-menu text-danger">
                            <li  (click)="clickEliminar(post) ; $event.stopPropagation()" class="dropdown-item text-danger"><i class="bi bi-trash"></i>Eliminar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <div class="modal fade" id="imagenModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img [src]="imagenClick" class="img-fluid" alt="Imagen ampliada">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-dark" id="comentarioModal" tabindex="-1" aria-labelledby="comentarioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="comentarioModalLabel">Añadir Comentario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" (click)="$event.stopPropagation()"></button>
            </div>
            <div class="modal-body">
                <textarea class="form-control border-0 p-1" id="comentarioTextarea" rows="3" placeholder="Escribe un comentario..." [(ngModel)]="comentario"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="subirComentario()">Postear</button>
            </div>
          </div>
        </div>     
    </div>
    </main>
</div>
