.home{
    display: flex;
    width: 100%;
}
main{
    margin-left:25%;
    width: 75%;
}
header{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom: 1px solid orange;
    align-items: center;
}
header div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div:hover{
    cursor: pointer;
    background-color: rgba(240, 240, 240, 0.2);
    transition: background-color 0.3s ease;
}
header div p{
    margin: 0;
    padding: 10px;
    
}
article{
    display: flex;
    flex-direction: column-reverse;
}
.seleccionado{
    border-bottom: 3px solid orange;
}
.home app-side-navbar{
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: 0;
    height: 100vh;
    border-right:1px solid  orange;
}
.post{
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:hover{
        background-color: rgba(0, 0, 0, 0.274);
    }
}
.infoPost{
    display: flex;
    flex-direction: row;
}
.infoUsuarioPost{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.infoUsuario{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    p{
        margin: 0;
    }
    a{
        text-decoration: none;
        color: white;
        &:hover{
            text-decoration: underline;
        }   
    }
}
.nombreJuego a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline;
    }   
}
.imagenUsuario img{
    width: 50px;
    height: 50px;
}
.username{
    width: fit-content;
}
.nombre{
    width:fit-content;
}
.imagenJuego img{
    width: 100%;
    height: 100%;
    margin: auto;;
}
.imagenJuego{
    width: 60%;
    justify-content: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 100px;
    min-height: 175px;
}
.imagenJuego:hover {
    transform: scale(1.05);
    filter: brightness(60%);
}
.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0 , 0 , 0 , 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.imagenJuego:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}
.texto-overlay {
    color: white;
    font-weight: bold;
    font-size: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
.infoJuego{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenidoPost{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.imagenes {
    display: grid;
    gap: 5px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    height: 50%;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.imagenes-1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.imagenes-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.imagenes-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    height: fit-content;
    grid-auto-rows: 1fr;
}
.imagenes-3 img:nth-child(3) {
    grid-column: span 2;
    height: 200px;
}

.imagenes-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.descripcionPost{
    margin-left: 60px;
}
.opcionesPost{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.opcionesPost{
    align-items: center;
}
.opcionesPost div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.opcionesPost div p{
    margin: 0;
}
.opcionesPost div:hover{
    color: orange;
    transition: 0.5 ease;
    cursor: pointer;
}   
.opcionesPost div:hover button{
    background-color: rgba(255, 166, 0, 0.301);
    transition: 0.5s ease;
}
.opcionesPost div:hover button i{
    color: orange;
    transition: 0.5s ease;
}
.opcionesPost button{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}
.opcionesPost p {
    font-size: 18px;
}
.like p{
    margin-bottom: 1px !important;
}
.notaJuego{
    margin-left: auto;
}
@media (max-width : 1124px){
    .home{
        display: block;
    }
    header{
        width: 100%;
    }
    main{
        width: 100% !important;
        margin: 0 !important;
    }
    app-side-navbar{
        width: 0 !important;
        border-right:0px solid  orange !important;
    }
    app-side-navbar{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .infoUsuario{
        width: 100%;
    }
    .imagenJuego{
        min-height: 125px !important;
        min-width: 75px !important;
    }

}