<app-loading *ngIf="isLoading"></app-loading>
<h1 class="text-center mb-4">Crea tu cuenta</h1>
<form class="needs-validation" novalidate>
    <div class="form-floating w-100 has-validation" id="input">
        <input  name="nombre" type="text" class="form-control" [(ngModel)]="nombre" [ngClass]="{'is-invalid' : !nombreValidado}"
        id="nombre" aria-describedby="nombre" placeholder="Nombre completo" for="invalid-feedback" required>
        <div class="invalid-feedback">
            ¿Como te llamas?
        </div>
        <label for="usuario">Nombre completo</label>

    </div>
    <div class="form-floating w-100 has-validation" id="input">
        <input  name="usuario" type="user" class="form-control" [ngClass]="{'is-invalid' : !emailValidado}" [(ngModel)]="email"
        id="usuario" aria-describedby="email" placeholder="Correo Electronico o usuario" for="invalid-feedback" required>
        <div class="invalid-feedback">
            {{emailError}}
        </div>
        <label for="usuario">Correo electronico</label>

    </div>
    <div class="form-floating w-100 has-validation" id="input">
        <input name="username" type="text" class="form-control" [(ngModel)]="username" [ngClass]="{'is-invalid' : !usernameValidado}" 
        id="username" aria-describedby="username" placeholder="Correo Electronico o usuario" for="invalid-feedback" required>
        <div class="invalid-feedback">
            Por favor , introduce un usuario
        </div>
        <label for="usuario">Nombre de usuario</label>

    </div>
    <div class="input-group has-validation" id="input">
        <div class="form-floating">
            <input  name="password" [type]="passwordVisible ? 'text' : 'password'" [ngClass]="{'is-invalid' : !passwordValidada}"  [(ngModel)]="password"
            class="form-control" id="password" placeholder="Contraseña" for="invalid-feedback" required>
            <label for="password">Contraseña</label>
        </div>
        <button class="input-group-text" [ngClass]="{'is-invalid' : !passwordValidada}" (click)="cambiarVisibilidad()">
            <i [class]="passwordVisible ? 'bi bi-eye-slash' : 'bi bi-eye-fill'" ></i>
        </button>
        <div class="invalid-feedback" [innerHTML]="passwordError">
            
        </div>
    </div>
    <button type="submit" class="btn btn-warning p-3 w-100" (click)="clickRegistro()">Registrarse</button>
    <div *ngIf="mensajeError" class="alert alert-danger" role="alert">
        {{mensajeError}}
    </div>
</form>

