main{
    display: flex;
    flex-direction: row;
    width: 100%;
}
app-side-navbar{
    width: 25%;
}
.buscarJuegos{
    width: 75%;
}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top:30px;
    padding-left: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    border-bottom:1px solid orange;
}
.buscador{
    width: 75%;
}
.form-control:focus{
    border-color: rgb(255, 165, 0) !important;
    box-shadow: 0 0 0 .25rem rgba(255,165, 0 ,  .25);
}
.botonBuscador button{
    background-color: transparent;
    border: 2px solid orange;
    color: orange;
    &:hover{
        background-color: orange;
        color: white;
        transition: 0.5s;
    }

}
.listaJuegos{
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.juego{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    &:hover{
        background-color: rgba(163, 163, 163, 0.267);
        cursor: pointer;
    }
}
.juego p{
    text-align: center;
    margin:0;
}
.juego img{
    width: 80%;
    max-height: 140px;
    border-radius: 5px;
}
