body{
    overflow-y: none;
}
main{
    display: flex;
    flex-direction: row;
}
.perfil{
    margin-left:25%;
    width: 75%;
}
app-side-navbar{
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: 0;
    height: 100vh;
    border-right:1px solid  orange;
}
header{
    display: flex;
    flex-direction: row;
    padding-left:50px;
    padding-top:30px; 
    gap: 20px;
    border-bottom: 1px solid orange;
}
.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
.opciones{
    gap: 50px;
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
}
.editarPerfil button{
    background-color: orange;
    padding: 5px 10px 5px 10px;
    border: 2px solid orange;
}
.seguir button{
    background-color: orange;
    padding: 5px 10px 5px 10px;
    border: 2px solid orange;
}
.mas button{
    background-color: transparent;
    border:2px solid white;
    padding: 5px 10px 5px 10px;
}
.postUsuario{
    display: flex;
    width:100%;
    height: auto;
    flex-direction: column-reverse;
}
.post{
    &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.233);
    }
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid orange;
}
.content{
    display: flex;
    width: 100%;
    height: auto;

    flex-direction: row;
}
.fotoPerfil img{
    width: 50px;
}
.infoUsuario{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.calificacion h4{
    text-align: center;
    width: 60px;
    padding-top:12px;
    padding-bottom: 12px;
    margin: 0;
}
.username{
    width: 65%;
}
.infoJuego{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.imagenJuego{
    text-align: center;
}
.imagenJuego img{
    width: 50%;
    border-radius: 10px;
    margin: auto;
}
.infoPost{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.datosPost img{
    width: 100%;
}
.datosPost{
    display: flex;
    flex-direction: column;
}
.imagenes{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: auto;
}
.imagenes img{

    width: 75%;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}
.imagenes-1{
    text-align: center;
    grid-template-columns: 1fr;
}
.imagenes-2{
    grid-template-columns: repeat(2 , 1fr);
}
.imagenes-3{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.imagenes-3 img:nth-child(3) {
    grid-column: span 2; /* La tercera imagen ocupa dos columnas */
}
.imagenes-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.modal-body img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain; /* Evita deformaciones */
}
.options i{
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
}
.options div:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgb(255, 166, 0);
    i{
        background-color: rgba(255, 166, 0, 0.164);
        transition: 0.5s;
    }
}
.options div{
    align-items: center;
    gap:2px
}
.options div p{
    font-size: 17px;
    margin :0
    
}
.form-control:focus{
    box-shadow: 0 0 0 .25rem rgba(255, 166, 0, 0);
}
.modal-footer button{
    background-color: orange;
    border-color: orange;
}
#comentarioTextarea{
    resize:none;
    height: 200px;
    overflow-y: hidden;
}
ul i{
    background-color: transparent !important;
}
.dropdown-menu li:hover{
    background-color: rgba(255, 166, 0, 0.068) ;
}
.siguiendo{
    background-color: transparent !important;
    border-color: white !important;
}