
main{
    display: flex;
    flex-direction: row;
}
.perfil{
    margin-left:25%;
    width: 75%;
}
app-side-navbar{
    width: 25%;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: 0;
    height: 100vh;
    border-right:1px solid  orange;
}
header{
    display: flex;
    flex-direction: row;
    padding-left:50px;
    padding-top:30px; 
    gap: 20px;
    border-bottom: 1px solid orange;
}
.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
.opciones{
    gap: 50px;
    align-items:center;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    button{
        background-color: orange;
        padding: 5px 10px 5px 10px;
        border: 2px solid orange;
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.editarPerfil button{
    background-color: orange;
    padding: 5px 10px 5px 10px;
    border: 2px solid orange;
    a{
        text-decoration: none;
        color: white;
    }
}
.options div:hover{
    color: orange;
    transition: 0.5 ease;
    cursor: pointer;
}   
.options div:hover button{
    background-color: rgba(255, 166, 0, 0.301);
    transition: 0.5s ease;
}
.options div:hover i{
    color: orange;
    transition: 0.5s ease;
}
.options button{
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    &:hover{
        background-color: rgba(0, 0, 0, 0.233);
    }
}
.like p{
    margin-bottom:1px !important;
}
.postUsuario{
    display: flex;
    width:100%;
    height: auto;
    flex-direction: column-reverse;
}
.post{
    &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.233);
    }
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid orange;
}
.content{
    display: flex;
    width: 100%;
    height: auto;

    flex-direction: row;
}
.fotoPerfil img{
    width: 50px;
    height: 50px;
}
.infoUsuario{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.username{
    width: fit-content;
}
.nombre{
    width: fit-content;
}
.infoJuego{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloJuego a{
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: underline;
    }   
}
.imagenJuego{
    width: 60%;
    justify-content: center;
    transition: transform 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 75px;
}
.imagenJuego img{
    width: 100%;
    margin: auto;
    
}
.imagenJuego:hover {
    transform: scale(1.05);
    filter: brightness(60%);
}
.overlay{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0 , 0 , 0 , 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.Juego:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}
.texto-overlay {
    color: white;
    font-weight: bold;
    font-size: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
.infoPost{
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.datosPost img{
    width: 100%;
}
.datosPost{
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.imagenes{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(1 , 1fr);
    grid-template-rows: auto;
}
.imagenes img{

    width: 75%;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}
.imagenes-1{
    text-align: center;
    grid-template-columns: 1fr;
}
.imagenes-2{
    grid-template-columns: repeat(2 , 1fr);
}
.imagenes-3{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
}
.imagenes-3 img:nth-child(3) {
    grid-column: span 2; /* La tercera imagen ocupa dos columnas */
}
.imagenes-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.modal-body img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain; /* Evita deformaciones */
}
.options div{
    align-items: center;
    gap:2px
}
.options div p{
    font-size: 17px;
    margin :0
    
}
.form-control:focus{
    box-shadow: 0 0 0 .25rem rgba(255, 166, 0, 0);
}
.modal-footer button{
    background-color: orange;
    border-color: orange;
}
#comentarioTextarea{
    resize:none;
    height: 200px;
    overflow-y: hidden;
}
ul i{
    background-color: transparent !important;
}
.dropdown-menu li:hover{
    background-color: rgba(255, 166, 0, 0.068) ;
}
.siguiendo{
    background-color: transparent !important;
    border-color: white !important;
}
.imagen-perfil{
    
    width: 100px;
    height: 100px;
    object-fit: cover;
    img{
        width: 100%;
        height: 100%;
    }
}
.descripcion{
    width: 80%;
}
@media(max-width : 1124px){
    app-side-navbar{
        width: 0px;
        border: 0px !important;
    }
    .perfil{
        width: 100%;
        margin-left: 0;
    }
    header{
        padding-left: 10px;
    }
    .post{
        padding-left: 10px !important;
    }
    main{
        padding-bottom: 58px;
    }

}