<main>
    <app-side-navbar></app-side-navbar>
    <article>
        <div class="breadcrumb">
            <a [routerLink]="['/buscar-juegos']" class=" ps-5">Buscar juegos</a>
        </div>
        <div class="juego ps-3">
            <div class="informacionJuego">
                <div class="tituloJuego mt-3">
                    <h3>{{this.juego.NOMBRE_JUEGO}}</h3>
                </div>
                <div class="imagenJuego mt-3">
                    <img src="https://api.game-hub.me/uploads/fotosJuegos/{{this.juego.PORTADA}}" alt="">
                </div>

            </div>
            <div class="puntuacionJuego pt-5">
                <div class="calificacion" >
                    <h1 class="text-center"[ngClass]="{'bg-danger' : this.juego.CALIFICACION_MEDIA >= 0 && this.juego.CALIFICACION_MEDIA  < 5 ,'bg-warning' : this.juego.CALIFICACION_MEDIA  >= 5 && this.juego.CALIFICACION_MEDIA  < 8 , 'bg-success' : this.juego.CALIFICACION_MEDIA  >= 8 }">{{this.juego.CALIFICACION_MEDIA }}</h1>
                </div>
                <div class="postear mt-5">
                    <button class="btn" [routerLink]="['/juegos', this.juego.ID_JUEGO , 'postear']"><i class="bi bi-box-arrow-right">  </i>&nbsp;DEJA TU OPINIÓN</button>
                </div>
            </div>
        </div>
        <div class="detalles ps-3">
            <div class="fecha mt-3">
                <p><strong>Fecha de lanzamiento : </strong>{{this.juego.FECHA_LANZAMIENTO}}</p>
            </div>
            <div class="genero mt-3" >
                <p><strong>Genero </strong>: {{this.generos.join(', ')}}</p>
            </div>
            <div class="descripcion mt-3">
                <p>{{this.juego.DESCRIPCION}}</p>
            </div>
        </div>
    </article>
</main>
